<ion-header>
  <ion-toolbar>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Project 1</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is the project1,it includes some basic angular project.
        </ion-card-content>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Project 2</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is Project2, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Project 3</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is Project3, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      
      </ion-card>
</ion-content>
