<ion-header>
    <ion-toolbar>
      <ion-title>
        Reach Out
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="container">
       <div class="row">
        <div class="column">
          <img src="assets/1.svg" style="width:100%">
        </div>
        <hr>
          <div>
            <h2>Regional Office</h2>
              <strong>Bhilwara Infotechnology Limited</strong><br/>
              #244, Fortune Summit Business Park<br/>
              1st Floor, Hosur Road <br/>
              Near Silk Board Junction<br/>
              Bengaluru, India – 560068.<br/>
              Phone: +91-80-46306666<br/>
              Fax: +91-80-41466262<br/>
              e-mail: info@bhilwarainfo.com<br/>
        </div>
      </div>
    </div>
  </ion-content>