<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
     <div class="row">
      <div class="column">
        <img src="assets/1.svg" style="width:100%">
      </div>
      <hr>
      <p>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.</p>

      <p>Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.To meet various IT.</p>
      
      <!-- <div style="text-align:center">
        <p>leave us a message:</p>
      </div>
      <div class="column">
        <form action="">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="india">India</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div> -->
    </div>
  </div>
</ion-content>
